#leftside {
    float:left;
    margin-top:250px;
    margin-left:80px;
}
#rightside {
    float:right;
    margin-top:100px;
    margin-right:80px;
}
#topside {
    max-width:1500px;
    margin:auto;
    margin-top:40px;
}
.businessName {
	font-size:16pt;
	text-align:left;
	margin-top:2px;
}
.activityName {
	font-size:22pt;
	text-align:left;
	margin-bottom:2px;
}
.address {
	font-size:14pt;
	text-align:left;
	margin-bottom:0px;
	margin-top:0px;
	padding: -3px 0px -3px 0px;
}
.rating {
	text-align:left;
	margin-bottom:2px;
	margin-top:2px;
}
.phone {
	text-align:left;
	margin-bottom:2px;
	margin-top:2px;
}
.modal {
    display:none;
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}
.modal-content {
    background-color:#E4E4E2;
    margin:15% auto;
    padding:20px;
    border:1px solid #888;
    width:60%;
}
.one-half {
    width:50%;
    display:block;
    float:left;
    text-align: center;
}
.one-half.last {
    width:45%;
    margin-left:5%;
    text-align: center;
}
.modal_close {
    position:absolute;
    right:0;
    top:0;
    padding:10px 15px;
    background:#E4E4E2;
    cursor:pointer;
    color:#aaa;
    font-size:16px;
}